<div id="<%= dom_id customer_supplier %>">
  <p>
    <strong>Sector:</strong>
    <%= customer_supplier.sector %>
  </p>

  <p>
    <strong>Passenger name:</strong>
    <%= customer_supplier.passenger_name %>
  </p>

  <p>
    <strong>Reservation num:</strong>
    <%= customer_supplier.reservation_num %>
  </p>

  <p>
    <strong>Reservation type:</strong>
    <%= customer_supplier.reservation_type %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= customer_supplier.supplier %>
  </p>

  <p>
    <strong>Air line:</strong>
    <%= customer_supplier.air_line %>
  </p>

  <p>
    <strong>Travel date:</strong>
    <%= customer_supplier.travel_date %>
  </p>

  <p>
    <strong>Current date:</strong>
    <%= customer_supplier.current_date %>
  </p>

  <p>
    <strong>Ref date:</strong>
    <%= customer_supplier.ref_date %>
  </p>

  <p>
    <strong>Deal:</strong>
    <%= customer_supplier.deal %>
  </p>

  <p>
    <strong>Sale:</strong>
    <%= customer_supplier.sale %>
  </p>

  <p>
    <strong>Purchase:</strong>
    <%= customer_supplier.purchase %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= customer_supplier.customer %>
  </p>

</div>
