<!-- customers_with_balances.html.erb -->

<strong class="flex justify-center  py-2">Suppliers with Balances</strong>
<div class="flex justify-end px-6 py-3">
<strong>Total Balance:</strong>
<p class="px-4"><%= @total_balance %></p>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-2">
  <table class=" w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th class="py-3">Customer Name</th>
      <th class="py-3">Balance </th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |customer| %>
      <tr>
        <td class="px-6 py-4<%= ' text-red-500' if customer.blank? %>">
          <%= link_to customer.supplier.presence || 'N/A', suppliers_customer_suppliers_path(name: customer.supplier) %></td>
        </td>
        <td class="px-6 py-4 <%= customer.balance < 0 ? 'text-red-500' : 'text-green-500' %>">
          <%= customer.balance.presence || 'N/A' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
